@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}

	button {
		background-color: #f9f9f9;
	}
}

@media (max-width: 600px){
#todolist-container{
	width: 100%;
    margin-top: 2rem;
    padding: 0;
}	
#task-container{
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;
}
#input-form {
	padding: 0;
}
#app{
    padding: 2rem 0;
    
}
}